#### Temp files
*~
*.swp
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
.project
.DS_Store
.idea

#### iOS
*~
*.swp
.DS_Store
.Trashes
*~.nib
DerivedData/
build/
*.moved-aside

#### Rails
# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

